.Quote{
    background-image: url(../images/bg-4.png);
    background-size: cover;
    background-attachment: fixed;
}
.Quote h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    font-weight: 700;

}
.Quote p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.Quote .box{
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px  rgba(0,0,0,0.2);
}
.Quote img{
    width: 150px;
    height: 150px;
}